﻿h1 {
    text-align: center;
}

body {
    font-size: 0.8em;
}

fieldset {
    width: 32em;
    margin: 1em auto 1em auto;
    background-color: #ccc;
}

.button-container {
    background-color: darkgrey;
    overflow-y: auto;
    margin: 1em auto 1em auto;
}

    .button-container > button {
        width: 20px;
        height: 20px;
        float: left;
        margin: 0px;
        border: solid 1px #999;
    }

.cellSelected {
    background-color: black;
}

.cellUnselected {
    background-color: lightgray;
}
