﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Life game 3</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
    <h1>Games of Life</h1>
    <div ng-controller="formController as frm">
        <fieldset>
            <form name="form1" novalidate ng-submit="frm.createTableForm()">
                <div>
                    <input type="text" name="numberOfColumns" ng-model="frm.numberOfColumns" ng-pattern="frm.matchPattern" required />
                    <label>Number of columns (20-90)</label>
                    <br />
                    <input type="text" name="numberOfRows" ng-model="frm.numberOfRows" ng-pattern="frm.matchPattern" required />
                    <label>Number of rows (20-90)</label>
                </div>
                <div>
                    <label>Speed:</label>
                    <span ng-repeat="item in frm.speedValues">
                        <input id="rb{{item.value}}" type="radio" ng-model="frm.speed" ng-checked="frm.speed == item.value" ng-change="frm.speedChanged()"
                               value="{{item.value}}" />
                        <label for="rb{{item.value}}">{{item.label}}</label>
                    </span>
                </div>
                <div>
                    <select ng-model="frm.pattern" ng-change="frm.patternChanged()" ng-disabled="frm.tables.started"
                            ng-options="c.Name for c in frm.patternList"></select>
                    <label>Pattern</label>
                </div>
                <div>
                    <button type="submit" ng-disabled="form1.$invalid || frm.tables.started" class="btn btn-primary">Create table</button>
                    <button type="button" ng-disabled="form1.$invalid || frm.tables.started" ng-click="frm.singleStep()">Step</button>
                    <button type="button" ng-disabled="form1.$invalid || frm.tables.started" ng-click="frm.start()">Start</button>
                    <button type="button" ng-disabled="!frm.tables.started" ng-click="frm.stop()">Stop</button>
                    <button type="button" ng-disabled="form1.$invalid || frm.tables.started" ng-click="frm.reset()">Reset</button>
                </div>
            </form>
        </fieldset>
    </div>
    <div ng-controller="gridController as grid">
        <div class="button-container" ng-style="{'width':grid.tables.maxWidth+'px'}">
            <button ng-repeat="item in grid.tables.table" ng-click="item.state=!item.state" class="fixWidthHeight" ng-class="item.state ? 'cellSelected':'cellUnselected'"></button>
        </div>
    </div>
    <script data-main="/scripts/app" src="/scripts/vendor/require.min.js"></script>
</body>
</html>